.profil-container {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 50px;
  padding: 40px 20px;
  border-bottom: 1px solid #4b4b4b;
  margin: 0 auto;
}

.pofilePic {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 4px;
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
}

.pofilePic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #000;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  pointer-events: none;
}

.userName h3 {
  font-size: 22px;
  font-weight: 500;
}

.post-actions {
  display: flex;
  gap: 15px;
  font-size: 16px;
}

.post-actions p {
  font-weight: 600;
  font-size: 18px;
}

.post-actions span {
  color: #a8a8a8;
}
.user-posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2px;
  margin-top: 0.34em;
  padding: 10px;
}
.profile-post_item {
  position: relative;
}
.post-imgs {
  height: 400px;
}
.post-imgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  pointer-events: none;
}
.post-views {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  position: absolute;
  bottom: 3%;
  right: 3%;
  background-color: #000000b8;
  backdrop-filter: blur(15px);
  color: #fff;

  padding: 0.4em 0.8em;

  border-top: 1px solid #565656a5;
  border-radius: 2em;
}
@media screen and (max-width: 750px) {
  .profil-container {
    justify-content: start;
    padding: 10px;
    gap: 20px;
  }

  .pofilePic {
    width: 100px;
    height: 100px;
  }

  .userName h3 {
    font-size: 18px;
  }

  .post-actions {
    justify-content: center;
    gap: 10px;
  }
  .user-posts {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    padding: 0;
  }
  .post-imgs {
    height: 190px;
  }
}
