.post-container {
  margin-left: 140px;
  margin-bottom: 20px;
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post-item {
  background-color: #252728;
  width: 100%;
  border-radius: 10px;
}
.user-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 15px 10px;
}
.user-actions img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}
.user-info {
  gap: 10px;
  display: flex;
  line-height: 22px;
}
.user-post__createAdd {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.post-menyu_se {
  background-color: #1b1b1ba5;
  border: none;
  padding: 10px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-img {
  width: 100%;
  height: auto;
  background-color: #1a1a1b;
}

.post-img img {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  display: block;
}
.post-coptions p {
  font-size: 16px;
  padding: 0px 12px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.like-cont {
  padding: 6px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #505050;
  margin: 0 10px;
}
.like-button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 8px;
}
.like-button.liked svg {
  color: red;
  transition: 0.2s ease;
}
.like-button svg {
  font-size: 30px;
  color: white;
}
.post-like {
  font-size: 18px;
  font-weight: 600;
}
.modal-backdrop {
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
}
@media screen and (max-width: 1250px) {
  .post-container {
    margin-left: 0px;
    padding: 20px;
  }
}

@media screen and (max-width: 750px) {
  .post-container {
    margin-left: 0;
    padding: 0;
    margin: 0;
  }
  .user-actions {
    padding: 8px;
  }
}
