.post-container {
  margin-left: 140px;
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.post-item {
  background-color: rgb(22, 22, 22);
  width: 100%;
}
.user-actions {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px 10px;
}
.user-actions img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}
.post-img {
  width: 100%;
  height: auto;
  background-color: aliceblue;
}

.post-img img {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  display: block;
}
.post-coptions p {
  font-size: 16px;
  padding: 12px;
}
@media screen and (max-width: 1250px) {
  .post-container {
    margin-left: 0px;
    padding: 20px;
  }
}

@media screen and (max-width: 750px) {
  .post-container {
    margin-left: 0;
    padding: 0;
  }
  .user-actions {
    padding: 8px;
  }
}
