.post-container {
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.post-item {
  width: 100%;
  padding: 10px 15px;
}
.user-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 0.5em;
}
.user-actions img {
  user-select: none;
  -webkit-user-drag: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.user-info {
  gap: 12px;
  display: flex;
  line-height: 22px;
}
.user-info h3 {
  font-size: 17px;
  font-weight: 500;
}
.user-post__createAdd {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
.post-menyu_se {
  background-color: #1b1b1b79;
  border: none;
  padding: 10px;
  border-radius: 50%;
  border-top: 1px solid #565656a5;
  color: white;
  cursor: pointer;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.repot-post {
  max-width: 400px;
  width: 95%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1a1a1b;
  border-radius: 25px;
  padding: 20px;
  z-index: 1002;
}
.repot-post_header {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 10px;
}
.repot-post_remove-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.5rem;
  background-color: #181818;
  border: none;
  border-top: 1px solid #565656a5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 5px;
}
.report-post_item {
  padding: 15px 0;
  border-bottom: 1px solid #2a2a2a;
}
.post-img {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  pointer-events: none;
  width: 100%;
  height: auto;
  background-color: #1a1a1b;
  border-radius: 5px;
}
.post-img img {
  border-radius: 5px;
  width: 100%;
  object-fit: contain;
  display: block;
}
.post-bottom {
  padding: 0 10px;
}
.post-coptions p {
  line-height: 1.16rem;
  font-size: 14px;
  margin-bottom: 10px;
  transition: 0.3s ease;
}
.post-coptions__toggle {
  background: none;
  cursor: pointer;
  border: none;
  color: #676464;
  font-family: "poppins", sans-serif;
  font-size: 14px;
}
.like-cont {
  padding: 8px;
  display: flex;
  align-items: center;
  margin-top: 0.3em;
  gap: 8px;
}
.like-button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.like-button.liked svg {
  color: #f01a2c;
  transition: 0.2s ease;
}
.like-button svg {
  font-size: 24px;
  color: white;
  transition: 0.15s ease-out;
}
.like-button svg:active {
  transform: scale(1.15);
}
.post-like {
  font-size: 15px;
  font-weight: 600;
}
.post-hr {
  border: 0.5px solid #1a1a1b;
  margin-top: 1rem;
}
.modal-backdrop {
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
}
@media screen and (max-width: 1250px) {
  .post-container {
    margin-left: 0px;
    padding: 20px;
  }
}
@media screen and (max-width: 750px) {
  .post-container {
    margin-left: 0;
    padding: 0;
    margin: 0 auto;
  }
  .user-actions {
    padding: 3px;
  }
  .post-item {
    padding: 10px;
  }
  .post-coptions p {
    font-size: 0.91rem;
    line-height: 1.1rem;
    margin: 0;
  }
}
