.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 320px;
}
@media (max-width: 1050px) {
  .app-container {
    padding-left: 100px;
  }
}
@media (max-width: 750px) {
  .app-container {
    padding-left: 0;
    margin-bottom: 90px;
  }
}
