@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  -webkit-tap-highlight-color: transparent;
}
body {
  background-color: #000;
  color: rgba(255, 255, 255, 0.87);
  font-family:
    "Roboto",
    -apple-system,
    BlinkMacSystemFont,
    "Apple Color Emoji",
    "Segoe UI",
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

a {
  text-decoration: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
