.create-post {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #181818;
  max-width: 400px;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s ease;
  color: white;
}

.create-post.editor-active {
  width: 750px;
}

.create-post__header {
  background-color: rgb(38, 38, 38);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 1px solid #333;
}

.create-post__content {
  margin-top: 3rem;
  font-size: 1.2rem;
  width: 80%;
  text-align: center;
}

.create-post__footer {
  margin-top: 4rem;
}

.create-post__footer button {
  padding: 8px 35px;

  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  background-color: #0095f6;
  margin-bottom: 20px;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
}

.editor-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.preview-box {
  flex: 1.2;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.caption-box {
  flex: 0.8;
  padding: 15px;
  background: #181818;
  border-left: 1px solid #333;
}

textarea {
  width: 100%;
  height: 100px;
  background: #282727;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  resize: none;
  outline: none;
  font-family: inherit;
  font-size: 0.9rem;
  scrollbar-width: none;
}

.back-btn,
.share-btn {
  background: none;
  border: none;
  color: #0095f6;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}

.back-btn {
  color: white;
}
@media (max-width: 768px) {
  .create-post {
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;
    margin: 0 auto;
    transform: none;
    border-radius: 0;
    display: flex;
    flex-direction: column;
  }
  .create-post__header {
    padding: 10px;
    font-size: 1.2rem;
  }
  .create-post.editor-active {
    width: 100% !important;
  }

  .editor-container {
    flex-direction: column;
    overflow-y: auto;
  }

  .preview-box {
    flex: none;
    height: 50vh;
    width: 100%;
  }

  .caption-box {
    flex: 1;
    border-left: none;
    border-top: 1px solid #333;
    padding: 20px;
  }

  textarea {
    height: 120px;
    font-size: 1rem;
  }

  .create-post__content {
    margin-top: 6rem;
  }

  .create-post__footer {
    margin-top: auto;
    margin-bottom: 3rem;
  }
  .create-post__footer button {
    padding: 13px 50px;
    font-size: 1.2rem;
  }
  .back-btn {
    font-size: 27px;
  }
}
